<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Flask React</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/projectstyling.css') }}" rel="stylesheet"/>
</head>
<body>
<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    console.log($SCRIPT_ROOT)
</script>
<div id='app'></div>
<script src="{{ url_for('static', filename='scripts/build/bundle.js') }}"></script>
</body>
</html>

